extends layout
block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .row.gallery
    .col-12.col-sm-3
      include ./sections/project-list.jade
      if user && user.isAdmin
        a.btn.btn-primary.btn-lg.btn-block.new-product(href='/new-product') Add New Product
    .col-12.col-sm-7.offset-sm-1
        .row
          each v in products
            .col-md-6.shop-card-wrapper
              .shop-card
                img(src='/uploads/' + v.img)
                section
                  h3 #{v.name}
                  p #{v.price}
                  a.btn.btn-primary(href='/detail?id=' + v._id) read more >>