extends layout
block head
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  main.d-flex.justify-content-center.align-items-center.flex-grow-1
    section.card.form-card.border-secondary.mb-3
      .card-header Signup
      .card-body
        form(method='post')
          .form-group
            label Username
            input.form-control(type="text", name='username')
            small.form-text.text-muted Please input your Username

          .form-group
            label Password
            input.form-control(type="password", name='password')
            small.form-text.text-muted Please input your Password

          .form-group
            label Confirm Password
            input.form-control(type="password")
            small.form-text.text-muted Please input your Password

          .form-group
            label Phone
            input.form-control(type="text", name='phoneNumber')
            small.form-text.text-muted Please input your Phone

          .form-group
            label Email
            input.form-control(type="email", name='email')
            small.form-text.text-muted Please input your Email


          button.btn.btn-primary(type="submit") Submit