body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7472 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
}
#u7473 {
  position:absolute;
  left:2px;
  top:361px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7475 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  opacity:0.300000011920929;
}
#u7476 {
  position:absolute;
  left:2px;
  top:6px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7477 {
  position:absolute;
  left:126px;
  top:3px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u7478 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7479 {
  position:absolute;
  left:217px;
  top:3px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u7480 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u7481 {
  position:absolute;
  left:98px;
  top:6px;
  width:27px;
  height:18px;
}
#u7482 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7483 {
  position:absolute;
  left:3px;
  top:3px;
  width:21px;
  height:21px;
}
#u7484 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7485 {
  position:absolute;
  left:27px;
  top:4px;
  width:50px;
  height:22px;
  font-size:18px;
}
#u7486 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u7487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7487 {
  position:absolute;
  left:308px;
  top:3px;
  width:82px;
  height:22px;
  font-size:18px;
}
#u7488 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u7489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u7489 {
  position:absolute;
  left:282px;
  top:5px;
  width:23px;
  height:17px;
}
#u7490 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u7491 {
  position:absolute;
  left:193px;
  top:8px;
  width:23px;
  height:12px;
  -webkit-transform:rotate(357deg);
  -moz-transform:rotate(357deg);
  -ms-transform:rotate(357deg);
  transform:rotate(357deg);
}
#u7492 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7493 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7494 {
  position:absolute;
  left:11px;
  top:88px;
  width:60px;
  height:60px;
}
#u7495 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u7496 {
  position:absolute;
  left:19px;
  top:96px;
  width:42px;
  height:42px;
}
#u7497 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7498 {
  position:absolute;
  left:122px;
  top:105px;
  width:119px;
  height:24px;
  font-size:20px;
}
#u7499 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u7500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7500 {
  position:absolute;
  left:86px;
  top:103px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u7501 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u7502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00CC00;
}
#u7502 {
  position:absolute;
  left:290px;
  top:104px;
  width:78px;
  height:24px;
  font-size:20px;
  color:#00CC00;
}
#u7503 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7504 {
  position:absolute;
  left:11px;
  top:169px;
  width:60px;
  height:60px;
}
#u7505 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7506 {
  position:absolute;
  left:86px;
  top:183px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u7507 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u7508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:42px;
}
#u7508 {
  position:absolute;
  left:16px;
  top:178px;
  width:49px;
  height:42px;
}
#u7509 {
  position:absolute;
  left:2px;
  top:13px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7510 {
  position:absolute;
  left:11px;
  top:249px;
  width:60px;
  height:60px;
}
#u7511 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7512 {
  position:absolute;
  left:86px;
  top:264px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u7513 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u7514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:46px;
}
#u7514 {
  position:absolute;
  left:23px;
  top:256px;
  width:36px;
  height:46px;
}
#u7515 {
  position:absolute;
  left:2px;
  top:15px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7516 {
  position:absolute;
  left:11px;
  top:330px;
  width:60px;
  height:60px;
}
#u7517 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7518 {
  position:absolute;
  left:86px;
  top:345px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u7519 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u7520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u7520 {
  position:absolute;
  left:20px;
  top:340px;
  width:42px;
  height:37px;
}
#u7521 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7522 {
  position:absolute;
  left:11px;
  top:413px;
  width:60px;
  height:60px;
}
#u7523 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7524 {
  position:absolute;
  left:86px;
  top:427px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u7525 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u7526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
}
#u7526 {
  position:absolute;
  left:21px;
  top:422px;
  width:42px;
  height:39px;
}
#u7527 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u7528 {
  position:absolute;
  left:58px;
  top:412px;
  width:17px;
  height:22px;
  opacity:0.600000023841858;
}
#u7529 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u7530 {
  position:absolute;
  left:260px;
  top:111px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
  transform:rotate(355deg);
}
#u7531 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7532 {
  position:absolute;
  left:0px;
  top:78px;
  width:396px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u7533 {
  position:absolute;
  left:0px;
  top:28px;
  width:396px;
  height:50px;
  font-size:28px;
}
#u7534 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u7535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7535 {
  position:absolute;
  left:11px;
  top:158px;
  width:374px;
  height:1px;
}
#u7536 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7537 {
  position:absolute;
  left:122px;
  top:186px;
  width:119px;
  height:24px;
  font-size:20px;
}
#u7538 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u7539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00CC00;
}
#u7539 {
  position:absolute;
  left:290px;
  top:185px;
  width:78px;
  height:24px;
  font-size:20px;
  color:#00CC00;
}
#u7540 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u7541 {
  position:absolute;
  left:260px;
  top:192px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
  transform:rotate(355deg);
}
#u7542 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7543 {
  position:absolute;
  left:0px;
  top:159px;
  width:396px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7544 {
  position:absolute;
  left:11px;
  top:239px;
  width:374px;
  height:1px;
}
#u7545 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7546 {
  position:absolute;
  left:122px;
  top:267px;
  width:119px;
  height:24px;
  font-size:20px;
}
#u7547 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u7548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00CC00;
}
#u7548 {
  position:absolute;
  left:290px;
  top:266px;
  width:78px;
  height:24px;
  font-size:20px;
  color:#00CC00;
}
#u7549 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u7550 {
  position:absolute;
  left:260px;
  top:273px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
  transform:rotate(355deg);
}
#u7551 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7552 {
  position:absolute;
  left:0px;
  top:240px;
  width:396px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7553 {
  position:absolute;
  left:11px;
  top:320px;
  width:374px;
  height:1px;
}
#u7554 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7555 {
  position:absolute;
  left:122px;
  top:348px;
  width:119px;
  height:24px;
  font-size:20px;
}
#u7556 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u7557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00CC00;
}
#u7557 {
  position:absolute;
  left:290px;
  top:347px;
  width:78px;
  height:24px;
  font-size:20px;
  color:#00CC00;
}
#u7558 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u7559 {
  position:absolute;
  left:260px;
  top:354px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
  transform:rotate(355deg);
}
#u7560 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7561 {
  position:absolute;
  left:0px;
  top:321px;
  width:396px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7562 {
  position:absolute;
  left:11px;
  top:401px;
  width:374px;
  height:1px;
}
#u7563 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7564 {
  position:absolute;
  left:123px;
  top:429px;
  width:119px;
  height:24px;
  font-size:20px;
}
#u7565 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u7566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00CC00;
}
#u7566 {
  position:absolute;
  left:291px;
  top:428px;
  width:77px;
  height:24px;
  font-size:20px;
  color:#00CC00;
}
#u7567 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u7568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u7568 {
  position:absolute;
  left:261px;
  top:435px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
  transform:rotate(355deg);
}
#u7569 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7570 {
  position:absolute;
  left:1px;
  top:402px;
  width:396px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7571 {
  position:absolute;
  left:12px;
  top:482px;
  width:374px;
  height:1px;
}
#u7572 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7573 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u7574 {
  position:absolute;
  left:10px;
  top:41px;
  width:27px;
  height:24px;
}
#u7575 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7576 {
  position:absolute;
  left:0px;
  top:28px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7577 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  overflow:hidden;
  visibility:hidden;
}
#u7577_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7577_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7578 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  opacity:0.400000005960464;
}
#u7579 {
  position:absolute;
  left:2px;
  top:361px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u7581 {
  position:absolute;
  left:0px;
  top:250px;
  width:396px;
  height:160px;
  opacity:0.5;
  font-size:28px;
  color:#000000;
}
#u7582 {
  position:absolute;
  left:2px;
  top:72px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u7583 {
  position:absolute;
  left:63px;
  top:309px;
  width:29px;
  height:32px;
}
#u7584 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u7585 {
  position:absolute;
  left:13px;
  top:261px;
  width:370px;
  height:67px;
  font-size:28px;
  text-align:left;
}
#u7586 {
  position:absolute;
  left:15px;
  top:26px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:52px;
}
#u7587 {
  position:absolute;
  left:340px;
  top:318px;
  width:50px;
  height:52px;
}
#u7588 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7589 {
  position:absolute;
  left:30px;
  top:267px;
  width:340px;
  height:54px;
  font-size:20px;
}
#u7590 {
  position:absolute;
  left:0px;
  top:15px;
  width:340px;
  word-wrap:break-word;
}
#u7591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7591 {
  position:absolute;
  left:346px;
  top:206px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7592 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u7593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u7593 {
  position:absolute;
  left:180px;
  top:338px;
  width:200px;
  height:60px;
  font-size:36px;
}
#u7594 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7595 {
  position:absolute;
  left:279px;
  top:341px;
  width:39px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u7596 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u7597 {
  position:absolute;
  left:238px;
  top:346px;
  width:35px;
  height:18px;
  -webkit-transform:rotate(357deg);
  -moz-transform:rotate(357deg);
  -ms-transform:rotate(357deg);
  transform:rotate(357deg);
}
#u7598 {
  position:absolute;
  left:2px;
  top:1px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u7599 {
  position:absolute;
  left:180px;
  top:367px;
  width:200px;
  height:33px;
  font-size:24px;
  text-align:center;
}
#u7600 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7601 {
  position:absolute;
  left:180px;
  top:338px;
  width:200px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7603 {
  position:absolute;
  left:158px;
  top:671px;
  width:80px;
  height:67px;
  overflow:hidden;
}
#u7603_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7603_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7605 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7606 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7607 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7608 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7603_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7603_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7610 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7611 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7612 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7613 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7614 {
  position:absolute;
  left:237px;
  top:671px;
  width:80px;
  height:67px;
  overflow:hidden;
}
#u7614_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7614_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7616 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7617 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7618 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7619 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7614_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7614_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7621 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7622 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7623 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7624 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7625 {
  position:absolute;
  left:79px;
  top:671px;
  width:80px;
  height:67px;
  overflow:hidden;
}
#u7625_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7625_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7627 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7628 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7629 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7630 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7625_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7625_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7632 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7633 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7634 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7635 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7636 {
  position:absolute;
  left:0px;
  top:671px;
  width:80px;
  height:67px;
  overflow:hidden;
}
#u7636_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7636_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7638 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7639 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7640 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7641 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7636_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7636_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7643 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7644 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7645 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7646 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7647 {
  position:absolute;
  left:316px;
  top:671px;
  width:80px;
  height:67px;
  overflow:hidden;
}
#u7647_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7647_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7649 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7650 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7651 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7652 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7647_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7647_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7654 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u7655 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7656 {
  position:absolute;
  left:0px;
  top:36px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7657 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
