body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(51, 255, 255, 1) 53%, rgba(0, 102, 204, 1) 100%, rgba(0, 102, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(51, 255, 255, 1) 53%, rgba(0, 102, 204, 1) 100%, rgba(0, 102, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(51, 255, 255, 1) 53%, rgba(0, 102, 204, 1) 100%, rgba(0, 102, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
}
#u1 {
  position:absolute;
  left:2px;
  top:361px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
}
#u2 {
  position:absolute;
  left:57px;
  top:70px;
  width:300px;
  height:154px;
}
#u3 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:48px;
  top:530px;
  width:300px;
  height:60px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软简中圆 Regular', '微软简中圆';
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u5 {
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'微软简中圆 Regular', '微软简中圆';
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u6 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:24px;
  top:24px;
  width:246px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:26px;
  top:26px;
  width:5px;
  height:16px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:24px;
  top:24px;
  width:246px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:26px;
  top:26px;
  width:54px;
  height:16px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:24px;
  top:24px;
  width:246px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:26px;
  top:26px;
  width:144px;
  height:16px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:24px;
  top:24px;
  width:246px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:26px;
  top:26px;
  width:242px;
  height:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:183px;
  top:246px;
  width:165px;
  height:164px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:164px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:164px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:164px;
  opacity:0.850000023841858;
}
#u25 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:48px;
  top:270px;
  width:230px;
  height:210px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:210px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:206px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:206px;
  opacity:0.949999988079071;
}
#u28 {
  position:absolute;
  left:2px;
  top:95px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
