body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:738px;
}
#u902 {
  position:absolute;
  left:2px;
  top:361px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  opacity:0.300000011920929;
}
#u905 {
  position:absolute;
  left:2px;
  top:6px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u906 {
  position:absolute;
  left:126px;
  top:3px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u908 {
  position:absolute;
  left:217px;
  top:3px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u910 {
  position:absolute;
  left:98px;
  top:6px;
  width:27px;
  height:18px;
}
#u911 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u912 {
  position:absolute;
  left:3px;
  top:3px;
  width:21px;
  height:21px;
}
#u913 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u914 {
  position:absolute;
  left:27px;
  top:4px;
  width:50px;
  height:22px;
  font-size:18px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u916 {
  position:absolute;
  left:308px;
  top:3px;
  width:82px;
  height:22px;
  font-size:18px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u918 {
  position:absolute;
  left:282px;
  top:5px;
  width:23px;
  height:17px;
}
#u919 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u920 {
  position:absolute;
  left:193px;
  top:8px;
  width:23px;
  height:12px;
  -webkit-transform:rotate(357deg);
  -moz-transform:rotate(357deg);
  -ms-transform:rotate(357deg);
  transform:rotate(357deg);
}
#u921 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:229px;
  background:inherit;
  background-color:rgba(52, 95, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:0px;
  top:509px;
  width:396px;
  height:229px;
}
#u924 {
  position:absolute;
  left:2px;
  top:106px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:39px;
}
#u925 {
  position:absolute;
  left:140px;
  top:631px;
  width:116px;
  height:39px;
}
#u926 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:39px;
}
#u927 {
  position:absolute;
  left:12px;
  top:631px;
  width:117px;
  height:39px;
}
#u928 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
}
#u929 {
  position:absolute;
  left:140px;
  top:686px;
  width:116px;
  height:38px;
}
#u930 {
  position:absolute;
  left:2px;
  top:11px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:39px;
}
#u931 {
  position:absolute;
  left:267px;
  top:685px;
  width:116px;
  height:39px;
}
#u932 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:481px;
}
#u933 {
  position:absolute;
  left:0px;
  top:28px;
  width:396px;
  height:481px;
}
#u934 {
  position:absolute;
  left:2px;
  top:232px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#666666;
}
#u935 {
  position:absolute;
  left:355px;
  top:40px;
  width:33px;
  height:33px;
  font-size:48px;
  color:#666666;
}
#u936 {
  position:absolute;
  left:2px;
  top:-12px;
  width:29px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u937 {
  position:absolute;
  left:3px;
  top:90px;
  width:39px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:2px;
  top:-2px;
  width:35px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
}
#u939 {
  position:absolute;
  left:12px;
  top:685px;
  width:116px;
  height:38px;
}
#u940 {
  position:absolute;
  left:2px;
  top:11px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u941 {
  position:absolute;
  left:10px;
  top:42px;
  width:26px;
  height:24px;
}
#u942 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  position:absolute;
  left:0px;
  top:28px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
